<!DOCTYPE html>
<html ng-app="cowApp">
  <head>
    <title>Cowsay in your Browser</title>
  </head>
  <body>
    <main ng-controller="CowsayController as cowsayCtrl">
    <section>
      <h1> {{cowsayCtrl.title}} </h1>
      <label>Cowsay:
        <input type="text" ng-model="cowsayCtrl.text">
      </label>
      <label>Cowsay Type:
        <select ng-model="cowsayCtrl.cowType">
          <option ng-repeat="n in cowsayCtrl.cowList track by $index" value="{{n}}">{{n}}</option>
        </select>
      </label>
      <button ng-click="cowsayCtrl.saveButton()"> Save Cow </button>
      <pre>
        <p>
          {{cowsayCtrl.updateCow(cowsayCtrl.text, cowsayCtrl.cowType)}}
        </p>
      </pre>
    </section>

    <section>
      <h1> {{cowsayCtrl.saveCowTitle}} </h1>
      <button ng-click="cowsayCtrl.revertButton()"> Revert to Previous Cow </button>
      <pre>
        <p>
          {{cowsayCtrl.saveCow(cowsayCtrl.cowArray[1], cowsayCtrl.typeArray[1])}}
        </p>
      </pre>
    </section>
  </main>
  </body>
</html>
