<!DOCTYPE html>
<html ng-app="cowApp">
  <head>
    <title>Cowsay in your Browser</title>
  </head>
  <body>
    <main ng-controller="CowsayController as cowsayCtrl">
    <section>
      <h1> {{cowsayCtrl.title}} </h1>
      <form
      name="cowsayForm"
      ng-submit="cowsayCtrl.saveCow()"
      novalidate>
      <i
      class="fa fa-spinner fa-lg fa-fw"
      ng-class="{'fa fa-spinner fa-spin fa-lg fa-fw': cowsayForm.$dirty}"
      ng-hide="cowsayForm.$invalid">
      </i>
        <label>Cowsay:
          <input
          type="text"
          class="form-control"
          ng-model="cowsayCtrl.text"
          ng-class="{'border-green-pulse': cowsayForm.$pristine}"
          ng-maxlength="50">
        </label>
        <label>Cowsay Type:
          <select
          ng-model="cowsayCtrl.cowType"
          class="form-control"
          ng-class="{'border-green-pulse': cowsayForm.$pristine}"
          ng-init="cowsayCtrl.cowType = 'default'"
          required>
            <option
            ng-repeat="n in cowsayCtrl.cowList track by $index"
            value="{{n}}">
              {{n}}
            </option>
          </select>
        </label>
        <button class="btn btn-default" type="submit"> Save Cow </button>
        <button class="btn btn-default" type="button" ng-click="cowsayCtrl.revertButton()"> Revert to Prev Cow </button>
      </form>
      <section ng-show="cowsayForm.$invalid">
        <pre>
          <p>
            {{cowsayCtrl.updateCow('Cows cannot say anything longer than 50 characters!', 'dragon-and-cow')}}
          </p>
        </pre>
      </section>
      <section>
        <pre>
          <p>
            {{cowsayCtrl.updateCow(cowsayCtrl.text, cowsayCtrl.cowType)}}
          </p>
        </pre>
      </section>
    </section>

    <section ng-hide="cowsayCtrl.cowArray[1] === '' && cowsayCtrl.cowArray[0] === ''">
      <h1> {{cowsayCtrl.saveCowTitle}} </h1>
      <pre>
        <p>
          {{cowsayCtrl.updateCow(cowsayCtrl.cowArray[1], cowsayCtrl.typeArray[1])}}
        </p>
      </pre>
    </section>
  </main>
  </body>
</html>
